* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: ; */
  /* color: white; */
  color: black;
}

.accodian {
  width: 50%;
  margin: 200px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.item {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  /* /* display: grid;
    grid-template-columns: auto 1fr auto;
     padding: 10px;  */
    gap: 5px; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}

h2 {

  margin: 10px;
  font-size: 20px;
}


.hidden-box p {
  line-height: 2.6;
  margin-bottom: 24px;
  font-size: 20px;
  /* letter-spacing: 0.5px; */
  word-spacing: 3px;
}

.hidden-box {
  display: none;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  border-top: 3px solid #1864ab;
  animation: borderline 1s linear forwards;
}

@keyframes borderline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.active .hidden-box {
  display: block;
}